* {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.btn {
    margin: 0px 30px;
    padding: 3px;
    position: relative;
    overflow: visible;
}

.home::after {
    content: '';
    border-top: 2px solid black;
    height: 100%;
    width: 0%;
    position: absolute;
    left:0%;
    top:0;
    transition:0.4s;
}
.home:hover:after {
    width: 100%;
}
.home::before {
    content: '';
    border-bottom: 2px solid black;
    height: 100%;
    width: 0%;
    position: absolute;
    left:100%;
    top:0;
    transition:0.4s;
}
.home:hover::before {
    left: 0;
    width: 100%;
}
.about::after {
    content: '';
    border-top: 2px solid black;
    height: 100%;
    width: 0%;
    position: absolute;
    left:0%;
    top:0;
    transition:0.4s;
}
.about:hover:after {
    width: 100%;
}
.about::before {
    content: '';
    border-bottom: 2px solid black;
    height: 100%;
    width: 0%;
    position: absolute;
    left:100%;
    top:0;
    transition:0.4s;
}
.about:hover::before {
    left: 0;
    width: 100%;
}
.services::after {
    content: '';
    border-top: 2px solid black;
    height: 100%;
    width: 0%;
    position: absolute;
    left:0%;
    top:0;
    transition:0.4s;
}
.services:hover:after {
    width: 100%;
}
.services::before {
    content: '';
    border-bottom: 2px solid black;
    height: 100%;
    width: 0%;
    position: absolute;
    left:100%;
    top:0;
    transition:0.4s;
}
.services:hover::before {
    left: 0;
    width: 100%;
}
.portfolio::after {
    content: '';
    border-top: 2px solid black;
    height: 100%;
    width: 0%;
    position: absolute;
    left:0%;
    top:0;
    transition:0.4s;
}
.portfolio:hover:after {
    width: 100%;
}
.portfolio::before {
    content: '';
    border-bottom: 2px solid black;
    height: 100%;
    width: 0%;
    position: absolute;
    left:100%;
    top:0;
    transition:0.4s;
}
.portfolio:hover::before {
    left: 0;
    width: 100%;
}
.contacts::after {
    content: '';
    border-top: 2px solid black;
    height: 100%;
    width: 0%;
    position: absolute;
    left:0%;
    top:0;
    transition:0.4s;
}
.contacts:hover:after {
    width: 100%;
}
.contacts::before {
    content: '';
    border-bottom: 2px solid black;
    height: 100%;
    width: 0%;
    position: absolute;
    left:100%;
    top:0;
    transition:0.4s;
}
.contacts:hover::before {
    left: 0;
    width: 100%;
}