.box {
    height: 100px;
    width: 100px;
    background-color: burlywood;
    position: relative;
}
.box::after {
content: '';
height: 100%;
width: 50%;
background-color: darkblue;
position: absolute;
top: 0px;
left: 0px;
}