body {
    text-align: center;
}
 
@media(max-width: 500px) {
    body {
        font-size: x-small;
    }
}
@media(min-width: 501px) and (max-width: 768px) {
    body {
        font-size: small;
    }
}
@media(min-width: 769px) and (max-width: 1200px) {
    body {
        font-size: medium;
    }
}
@media(min-width: 1201px) {
     body {
        font-size: larger;
    }
}